<!DOCTYPE html>
<html>
<head><title>Edit Student</title></head>
    <body>
        <h2>Edit Student</h2>
        <form action="/update/<%= student._id %>" method="POST">
            <input type="text" name="name" value="<%= student.name %>" required />
            <input type="number" name="age" value="<%= student.age %>" required />
            <input type="text" name="course" value="<%= student.course %>" required />
        <br />
        <button type="submit">Update</button>
        </form>
    <a href="/">Cancel</a>
    </body>
</html>
