<!DOCTYPE html>
<html>
<head><title>View Student</title></head>
    <body>
        <h2>Student Details</h2>
            <p><b>Name:</b> <%= student.name %></p>
            <p><b>Age:</b> <%= student.age %></p>
            <p><b>Course:</b> <%= student.course %></p>
        <a href="/">Back</a>
    </body>
</html>