<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h2>Login</h2>

    <% if (error) { %>
    <p style="color: red"><%= error %></p>
    <% } %>

    <form action="/users/login" method="POST">
      <div>
        <label>Username:</label><br />
        <input
          type="text"
          name="username"
          value="<%= values.username || '' %>"
        />
      </div>

      <div>
        <label>Password:</label><br />
        <input
          type="password"
          name="password"
          value="<%= values.password || '' %>"
        />
      </div>

      <br />
      <button type="submit">Login</button>
    </form>

    <br />
    <a href="/users/register">Create an account</a>
  </body>
</html>
