{% extends "layout/base_admin.html" %} {% block title %}Edit Category{% endblock
%} {% block content %}
<h2>✏️ Edit Category</h2>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div
  class="alert alert-{{ category }} alert-dismissible fade show"
  role="alert"
>
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endif %} {% endwith %}
<form method="POST">
  <div class="mb-3">
    <label>Category Name</label>
    <input
      type="text"
      name="category_name"
      value="{{ category.category_name }}"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <label>Description</label>
    <textarea name="description" class="form-control" rows="3">
{{ category.description }}</textarea
    >
  </div>

  <button class="btn btn-primary w-100">Update Category</button>
</form>

{% endblock %}
